@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
}

.wrapper {
    width: 1100px;
    margin: auto;
    position: relative;
}

.logo a {
    font-size: 40px;
    font-weight: 800;
    float: right;
    font-family: courier;
    color: #0F3460;
}

.menu {
    float: right;
}

nav {
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 80px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background: black;
    z-index: 1;
    border: 1px solid #0F3460;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a {
    color: #fff;
    font-weight: bold;
    text-align: center;
    padding: 0px 16px 0px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

section {
    margin: auto;
    display: flex;
    margin-bottom: 50px;
}

.kolom {
    margin-top: 60px;
    margin-bottom: 60px;
}

.kolom .deskripsi {
    font-size: 35px;
    font-weight: bold;
    font-family: 'comic sans ms';
    color: #0F3460;
}

h2 {
    font-family: 'comic sans ms';
    font-weight: 800;
    font-size: 35px;
    margin-bottom: 20px;
    color: #0F3460;
    width: 100%;
    line-height: 35px;
}

a.tbl-biru {
    background-color: #0F3460;
    border-radius: 20px;
    margin-top: 20px;
    padding: 17px 21px 17px 21px;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
}

a.tbl-biru:hover {
    background: red;
    text-decoration: none;
}

a.tbl-pink {
    background:#0F3460;
    border-radius: 20px;
    margin-top: 20px;
    padding: 18px 25px 18px 25px;
    color:#fff;
    cursor: pointer;
    font-weight: bold;
}

a.tbl-pink:hover {
    background: red;
    text-decoration: none;
}

p {
    margin: 10px 0px 10px 0px;
    padding: 10px 0px 10px 0px;
}

.tengah {
    text-align: center;
    width: 100%;
}

.Men-list {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.Card-Mens {
    width: 20%;
    margin: 0 auto;
}

.Card-Mens img {
    width: 80%;
    border-collapse: collapse;
}

.Card-Mens p {
    font-family: 'comic sans ms';
    font-weight: 800;
    font-size: 20px;
    text-align: center;
    color: #0F3460;
}

.tengah {
    text-align: center;
    width: 100%;
}

.Woman-list {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.Card-Woman {
    width: 20%;
    margin: 0 auto;
}

.Card-Woman img {
    width: 80%;
    border-collapse: collapse;
}

.Card-Woman p {
    font-family: 'comic sans ms';
    font-weight: 800;
    font-size: 20px;
    text-align: center;
    color: #0F3460;
}

.tengah {
    text-align: center;
    width: 100%;
}

.Kids-list {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.Card-Kids {
    width: 20%;
    margin: 0 auto;
}

.Card-Kids img {
    width: 80%;
    border-collapse: collapse;
}

.Card-Kids p {
    font-family: 'comic sans ms';
    font-weight: 800;
    font-size: 20px;
    text-align: center;
    color: #0F3460;
}

.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}